<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('회원')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('member')">
</nav>

<main class="container">
    <h2>회원등록</h2>
    <div style="height: 10px"></div>
    <form class="row g-3" action="#" th:action="@{/member/memberform}" th:object="${member}" method="post">
        <input type="hidden" th:field="*{memberId}">
        <div class="col-md-6">
            <label for="employeeNumber" class="form-label">사번</label>
            <input type="text" class="form-control" id="employeeNumber" th:field="*{employeeNumber}" required>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div class="col-md-6">
            <label for="username" class="form-label">이름</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">E-MAIL</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="col-md-6">
            <label for="deptCode" class="form-label">부서코드</label>
            <input type="text" class="form-control" id="deptCode" th:field="*{deptCode}" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="language" class="form-label">언어코드</label>
            <input type="text" class="form-control" id="language" th:field="*{language}" required>
        </div>
        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">전화번호</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
        </div>

        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">사용여부</label>
            <select class="form-select" aria-label="Default select example" id="enabled" th:field="${member.enableString}">
                <option th:each="en:${member.enabledCombo}" th:value="${en.name}" th:utext="${en.enable}">Y</option>
            </select>
        </div>


        <div class="col-md-12">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="adminChecked" th:field="${member.adminChecked}">
                <label class="form-check-label" for="adminChecked" th:checked="${member.adminChecked}">admin</label>
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="userChecked" th:field="${member.userChecked}">
                <label class="form-check-label" for="userChecked" th:checked="${member.userChecked}">user</label>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="text-end">
                <a type="button" class="btn btn-primary" th:href="@{/member/list}">취소</a>
                <button type="submit" class="btn btn-primary">확인</button>
            </div>
        </div>

    </form>
</main>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        src="/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>
</html>
