<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('회원')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('member')">
</nav>

<main class="container">
    <h2>회원등록</h2>
    <div style="height: 10px"></div>
    <form class="row g-3" action="#" th:action="@{/member/memberform}" th:object="${member}" method="post">
        <div class="col-md-6">
            <label for="employeeNumber" class="form-label">사번</label>
            <input type="text" class="form-control" id="employeeNumber" th:field="*{employeeNumber}" required>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div class="col-md-6">
            <label for="username" class="form-label">이름</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">E-MAIL</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="col-md-6">
            <label for="deptCode" class="form-label">부서코드</label>
            <input type="text" class="form-control" id="deptCode" th:field="*{deptCode}" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="language" class="form-label">언어코드</label>
            <input type="text" class="form-control" id="language" th:field="*{language}" required>
        </div>
        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">전화번호</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
        </div>
        <div class="col-md-2">
            <label for="enabled" class="form-label">사용여부</label>
            <select id="enabled" class="form-select" th:field="${member.enableString}">
                <option th:each="en:${member.enabledCombo}" th:value="${en.name}" th:utext="${en.enable}">Y</option>
            </select>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="adminChecked" th:field="${member.adminChecked}">
            <label class="form-check-label" for="adminChecked" th:checked="${member.adminChecked}">admin</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="userChecked" th:field="${member.userChecked}">
            <label class="form-check-label" for="userChecked" th:checked="${member.userChecked}">user</label>
        </div>
        <div class="text-end">
            <a type="button" class="btn btn-primary" th:href="@{/member/list}">취소</a>
            <button type="submit" class="btn btn-primary">확인</button>
        </div>
    </form>
</main>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"
></script>

</body>
</html>
